#top-panel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 10px;
}

#top-left-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px
}

#top-right-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.padded-container {
    margin: 10px;
}

.stretch-button {
    align-self: stretch;
}

#json-loader {
    display: none;
}

#multi-composite-loader {
    display: none;
}

.axis-limit-input {
    width: 50px;
    margin-left: 3px;
}

#symmetric-y-checkbox {
    margin-left: 10px;
}

.checkbox-label {
    margin-left: 5px;
}

#main-plot {
    flex-basis: 50%;
    overflow: hide;
    float: right;
}

.plot-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plot-label:hover {
    cursor: pointer;
    fill: #6D98E6;
}

.draggable-reference-line {
    cursor: grab;
}

#nucleosome-rect {
    cursor: grab;
    fill: #BBB;
    stroke: #777;
    stroke-width: 1;
}

.nucleosome-marker {
    cursor: grab;
    fill: #FFFC61;
    stroke: #000;
    stroke-width: .5;
}

#settings-tabs {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

.selected-tab {
    filter: brightness(.8);
    cursor: default !important;
}

.hidden {
    display: none;
}

#preset-dropdown {
    margin-bottom: 5px;
}

.slider-container {
    position: relative;
}

.global-slider {
    position: absolute;
    top: 21px;
    margin-left: 10px;
}

.double-slider::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.double-slider::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
}

.ref-line-section {
    text-align: center;
    width: 100%;
}

.ref-line-table {
    width: 100%;
    border-bottom: 2px solid black;
}

.ref-line-row {
    border-top: 2px solid black;
}

.ref-line-pos-col {
    width: 30%;
}

.ref-line-pos-input {
    width: 50px;
}

.ref-line-color-col {
    width: 30%;
}

.ref-line-style-col {
    width: 30%;
    position: relative;
}

.ref-line-style-svg {
    cursor: pointer;
}

.ref-line-style-selector {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    border: 2px solid;
}

.ref-line-remove-col {
    width: 10%;
}

.remove-icon {
    /* &:extend(.fa, .fa-times-circle, .fa-2xl, .fa-solid); */
    cursor: pointer;
    color: red;
}

.add-row-icon {
    /* &:extend(.fa, .fa-circle-plus, .fa-2xl, .fa-solid); */
    cursor: pointer;
    margin-top: 5px;
    color: green;
}

.nucleosome-marker-section {
    width: 100%;
}

.nucleosome-marker-input {
    margin-top: 5px;
}

.mol-viz-section {
    padding-top: 15px;
}

.tableFixHead {
    overflow: auto;
    font-size: 16px;
    height: 50px;
    width: 100%;
    border: 1px solid black;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

#composite-table {
    width: 100%;
    margin-top: 10px;
}

#composite-table table {
    width: 100%;
}

#composite-table tbody {
    width: 100%;
}

#composite-table tr {
    cursor: grab;
    height: 50px;
    width: 100%;
    border: 1px solid black;
}

#composite-table th, td {
    padding: 8px 16px;
}

#composite-table th {
    background: #eee;
}

#composite-table th:nth-child(1) {
    text-align: center;
}

#composite-table td:nth-child(1) {
    text-align: center;
}

#composite-table th:nth-child(n+3):nth-child(-n+7) {
    text-align: center;
}

#composite-table td:nth-child(n+3):nth-child(-n+7) {
    text-align: center;
}

.mouse-highlight {
    border: 3px solid #8888FF !important;
}

.file-drag-highlight {
    background-color: #CCCCCC;
}

.drag-col {
    color: gray;
}

.name-div {
    min-width: 5px;
    max-width: 500px;
    border: 1px solid #BBBBBB;
    box-shadow: 0px 0px 1px #BBBBBB;
    cursor: text;
}

.color-col {
    padding-left: 10px;
}

input[type=color] {
    width: 40px;
    height: 40px;
}

input[type=range] {
    appearance: none;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

.scale-slider {
    position: relative;
    top: -3px;
    margin-left: 10px;
    margin-top: 10px;
}

.setting-text {
    width: 40px;
}

.swap-container {
    width: 40px;
    cursor: pointer;
}

.swap-icon {
    width: 100%;
}

.grayed {
    filter: grayscale(100%);
}

.hide-container {
    width: 45px;
    text-align: center;
    cursor: pointer;
}

.hide-icon {
    width: 100%;
}

.upload-button {
    width: 35px;
    height: 30px;
    position: relative;
    text-align: center;
}