input[type=button] {
    height: 30px
}

input[type=color] {
    width: 40px;
    height: 40px
}

input[type=range] {
    width: 100px
}

.slider-text {
    width: 40px;
    margin-left: 10px
}

label {
    padding-right: 10px
}

.setting-text {
    width: 40px
}

div[contenteditable=true] {
    border: 1px solid #BBBBBB;
    box-shadow: 0px 0px 1px #BBBBBB;
    cursor: text
}

th {
    font-weight: bold
}

#metadata-table, #metadata-table th, #metadata-table td {
    font-size:12px;
    border: 1px solid black
}

#add-field {
    width: 50px;
    cursor: pointer;
    position: relative
}

.form-popup {
    position: absolute;
    top: 0;
    right: 15px;
    width: 350px;
    border: 3px solid #F1F1F1;
    background-color: #FFFFFF;
    z-index: 1;
}

.dropdown {
    position: absolute;
    display: none;
    left: -15px;
    width: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1
}

#add-field:hover .dropdown {
    display: block
}

.dropdown-element:hover {
    background-color: #DDDDDD
}

.dropdown-element.selected {
    background-color: #44FF44
}

.dropdown-element.selected:hover {
    background-color: #44DD44
}

#add-custom-field {
    background-color: #FFF8DC
}

#add-custom-field:hover {
    background-color: #EADDCA
}

td.mismatch {
    background-color: #FFDDDD
}

td.remove-row {
    width: 50px;
    cursor: pointer
}

#add-row {
    cursor:pointer
}

.remove-field-icon {
    position: absolute;
    height: 12px;
    width: 12px;
    top: 5px;
    right: 5px;
    cursor: pointer
}

.upload-icon {
    height: 20px;
    width: 20px
}

.hide-icon {
    height: 40px;
    width: 40px;
    cursor: pointer
}

#settings-table .added-row {
    cursor: grab
}

#settings-table .added-row label {
    cursor: grab
}

.mouse-highlight {
    border: 3px solid #8888FF
}

.drag-highlight {
    background-color: #DDDDDD
}

.svg-coord {
    cursor: ew-resize;
}

.plotted-coord{
    cursor: ew-resize;
}

#nucleosome-svg-plot {
    cursor: ew-resize;
}

#nucleosome-svg-plot :hover{
    opacity: 60%;
}