.axis-limit-input {
    width: 50px;
    margin-left: 3px;
}

#symmetric-y-checkbox {
    margin-left: 10px;
}

.checkbox-label {
    margin-left: 5px;
}

#main-plot {
    height: 50vh;
    padding-top: 10px;
    max-width: 100%;
    overflow: hide;
}

#opacity-slider-1 {
    margin-left: 10px;
    position: absolute;
}

#opacity-slider-2 {
    margin-left: 10px;
    position: absolute;
}

#composite-table {
    width: 100%;
    margin-top: 10px;
}

#composite-table table {
    width: 100%;
}

#composite-table tbody {
    width: 100%;
}

#composite-table tr {
    cursor: grab;
    height: 50px;
    width: 100%;
    border: 1px solid black;
}

#add-row {
    cursor: pointer !important;
}

.add-row-text {
    padding-left: 10px;
}

#add-row div {
    width: 100%;
}

.mouse-highlight {
    border: 3px solid #8888FF !important;
}

.file-drag-highlight {
    background-color: #CCCCCC;
}

.setting-label {
    margin-right: 5px;
}

.drag-col {
    padding-left: 10px;
}

.name-div {
    min-width: 5px;
    border: 1px solid #BBBBBB;
    box-shadow: 0px 0px 1px #BBBBBB;
    cursor: text;
}

.color-col {
    padding-left: 10px;
}

input[type=color] {
    width: 40px;
    height: 40px;
}

input[type=range] {
    width: 100px;
}

.scale-slider {
    margin-left: 10px;
    margin-top: 10px;
}

.setting-text {
    width: 40px;
}

.hide-col {
    width: 60px;
    padding-right: 20px;
}

.hide-container {
    cursor: pointer;
}

.hide-icon {
    width: 100%;
}

.upload-button {
    width: 35px;
    height: 30px;
    position: relative;
    text-align: center;
}